.partnersSlider {
  .slick-list {
    margin: 0 -6px;
  }

  &__inner {
    margin-top: -6px;
    margin-bottom: -12px;
  }
  &__item {
    padding: 6px 12px;

    @include media-breakpoint-down(lg) {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
  &__link {
    background-color: var(--color-light);
    width: 100%;
    aspect-ratio: 184/120;
    display: flex !important;
    align-items: center;
    justify-content: center;
    img {
      height: 80%;
      width: 80%;
      object-fit: contain;
    }
  }
}
