<section class="player-section">
  <div class="container">
    <div class="row g-10 mb-10">
      <div class="col-xl-8">
        <div class="topstory position-relative">
          <div class="player-section__top">
            <div class="topstory-article position-relative">
              <div class="topstory-article-image">
                <img src="images/content/player-sect.png" alt="" />
              </div>
              <div class="topstory-article-info p-40">
                <h2
                  class="text-white overflow-ellipsis overflow-hidden"
                  style="--text-lines: 3"
                >
                  Fares SHUDEIWA
                </h2>
                <div
                  id="topstory-slider-control"
                  class="d-flex align-items-center justify-content-center text-white font-secondary text-center"
                >
                  <div id="topstory-slider-paginator">25</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="player-section__info">
          <ul>
            <li>
              <span> Post: </span>
              středopolař
            </li>
            <li>
              <span> Narozen: </span>
              11.5.2002
            </li>
            <li>
              <span> Výška: </span>
              181 cm
            </li>
            <li>
              <span> Váha: </span>
              81 kg
            </li>
          </ul>
        </div>
        <div class="row mt-10">
          <div class="col-11 m-auto">
            <div class="o-content tabels-box">
              <h2>Předchozí kluby</h2>
              <ul>
                <li>FŠ Třebíč</li>
                <li>FC Vysočina Jihlava</li>
              </ul>
              <h2>Největší úspěchy</h2>
              <ul>
                <li>starty v I. lize za Znojmo a Brno</li>
                <li>postup do II. ligy se Znojmem (2009/10)</li>
              </ul>
              <h2>Statistiky</h2>
              <table>
                <thead>
                  <tr>
                    <th>SEZONA</th>
                    <th>MUŽSTVO</th>
                    <th>Záp. (min.)</th>
                    <th>GÓLY</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2022/2023 - 2. liga</td>
                    <td>Jihlava</td>
                    <td>26 (1742)</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>2021/2022 - 2. liga</td>
                    <td>Jihlava</td>
                    <td>26 (2154)</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>2020/2021 - 2. liga</td>
                    <td>Jihlava</td>
                    <td>26 (2329)</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2019/2020 - 2. liga</td>
                    <td>Jihlava</td>
                    <td>28 (2008)</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2018/2019 - 2. liga</td>
                    <td>Znojmo</td>
                    <td>14</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>2017/2018 - 2. liga</td>
                    <td>Znojmo</td>
                    <td>26</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>2016/2017 - 1. liga</td>
                    <td>Brno</td>
                    <td>12</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>2015/2016 - 1. liga</td>
                    <td>Brno</td>
                    <td>28</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>2014/2015 - 2. liga</td>
                    <td>Znojmo</td>
                    <td>26</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>2013/2014 - 1. liga</td>
                    <td>Znojmo</td>
                    <td>27</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>2012/2013 - 2. liga</td>
                    <td>Znojmo</td>
                    <td>29</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>2011/2012 - 2. liga</td>
                    <td>Znojmo</td>
                    <td>29</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2010/2011 - 2. liga</td>
                    <td>Znojmo</td>
                    <td>15</td>
                    <td>0</td>
                  </tr>

                  <tr class="bg-primary">
                    <td><b>CELKEM - 1. liga</b></td>
                    <td></td>
                    <td><b>67</b></td>
                    <td><b>0</b></td>
                  </tr>
                  <tr class="bg-primary">
                    <td><b>CELKEM - 2. liga</b></td>
                    <td></td>
                    <td><b>275</b></td>
                    <td><b>13</b></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="photogallery" id="lightgallery">
              <h2 class="h2 text-primary mb-3">Fotogalerie</h2>
              <div class="row g-0">
                <div class="col-lg-3 col-6">
                  <a
                    class="photogallery__item"
                    href="#"
                    data-gallery="1"
                    data-gallery-id="1"
                  >
                    <img src="images/content/1.jpeg" loading="lazy" alt="" />
                  </a>
                </div>
                <div class="col-lg-3 col-6">
                  <a
                    class="photogallery__item"
                    href="#"
                    data-gallery="1"
                    data-gallery-id="1"
                  >
                    <img src="images/content/2.jpeg" loading="lazy" alt="" />
                  </a>
                </div>
                <div class="col-lg-3 col-6">
                  <a
                    class="photogallery__item"
                    href="#"
                    data-gallery="1"
                    data-gallery-id="1"
                  >
                    <img src="images/content/3.jpeg" loading="lazy" alt="" />
                  </a>
                </div>

                <div class="col-lg-3 col-6">
                  <a
                    class="photogallery__item"
                    href="#"
                    data-gallery="1"
                    data-gallery-id="1"
                  >
                    <img src="images/content/1.jpeg" loading="lazy" alt="" />
                  </a>
                </div>
                <div class="col-lg-3 col-6">
                  <a
                    class="photogallery__item"
                    href="#"
                    data-gallery="1"
                    data-gallery-id="1"
                  >
                    <img src="images/content/2.jpeg" loading="lazy" alt="" />
                  </a>
                </div>
                <div class="col-lg-3 col-6">
                  <a
                    class="photogallery__item"
                    href="#"
                    data-gallery="1"
                    data-gallery-id="1"
                  >
                    <img src="images/content/3.jpeg" loading="lazy" alt="" />
                  </a>
                </div>
                <div class="col-lg-3 col-6">
                  <a
                    class="photogallery__item"
                    href="#"
                    data-gallery="1"
                    data-gallery-id="1"
                  >
                    <img src="images/content/4.jpeg" loading="lazy" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <aside>
          <div class="aside__menu">
            <h2 class="h2">SOUPISKA MUŽI 2023/2024</h2>
            <ul class="">
              <li>
                <a href="#" class="active">Adam JÁGRIK</a>
              </li>
              <li>
                <a href="#">Adam JÁGRIK</a>
              </li>
              <li>
                <a href="#">Adam JÁGRIK</a>
              </li>
              <li>
                <a href="#">Adam JÁGRIK</a>
              </li>
              <li>
                <a href="#">Adam JÁGRIK</a>
              </li>
              <li>
                <a href="#">Adam JÁGRIK</a>
              </li>
            </ul>
          </div>
          <div class="aside__menu mb-0">
            <h2 class="h2">A-tým</h2>
            <ul>
              <li>
                <a href="#" class="active">SOUPISKA</a>
              </li>
              <li>
                <a href="#">TRENÉŘI</a>
              </li>
              <li>
                <a href="#">REALIZAČNÍ TÝM</a>
              </li>
              <li>
                <a href="#">INDIVIDUÁLNÍ STATISTIKY</a>
              </li>
              <li>
                <a href="#">PŘÍCHODY / ODCHODY</a>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>

    <a target="_blank" href="#" class="d-block w-100 mb-10">
      <img
        class="w-100"
        src="https://via.placeholder.com/1400x135"
        loading="lazy"
        alt=""
      />
    </a>
  </div>
</section>
