<div class="match">
  <div class="match__date">so 25. 3. 2023, 18:00</div>
  <div class="match__content">
      <img src="images/content/logo.png" loading="lazy" alt="logo" />
    <div class="match__teams">
      <h3 class="vysocina">Fc vysočina</h3>
      <h3>Chrudim</h3>
    </div>
    <div class="match-right">
      <a href="#" class="match__link"> Reportáž </a>
      <ul class="match__score">
        <li class="vysocina">3</li>
        <li>1</li>
      </ul>
    </div>
  </div>
</div>
