<section class="article-section">
  <div class="container">
    <div class="row g-10 mb-10">
      <div class="col-xl-8">
        <div class="topstory-article position-relative">
          <div class="topstory-article-image">
            <img src="images/content/1.jpeg" alt="" />
          </div>
          <div class="topstory-article-info p-40">
            <div class="row g-4">
              <div class="col-auto">
                <span class="date-primary text-white"> 24. 12. 2021 </span>
              </div>
              <div class="col-auto">
                <span>Miroslav Fuks</span>
              </div>
            </div>
            <h2
              class="text-white overflow-ellipsis overflow-hidden"
              style="--text-lines: 3"
            >
              Ondřej Smetana: Bod z Táborska pro nás má hodnotu
            </h2>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-11 m-auto">
            <div class="o-content">
              <div class="perex">
                Ani třetí jarní vystoupení FC Vysočina ke kýženému vítězství
                nevedlo. Nutno dodat, že po nadějných domácích výkonech, kdy
                byly remízy s Chrudimí a Karvinou ztrátou, lze bodový import ze
                stadiónu Táborska hodnotit jako plusový. Jak výkon svého celku
                viděl kouč Ondřej Smetana?
              </div>
              <p>
                „Myslím si, že jsme do utkání dobře vstoupili. Bohužel, po
                úvodní desetiminutovce přišla pasáž, kdy se začali prosazovat
                domácí. Nedařilo se nám plnit náš herní plán a zbytečně jsme
                soupeře pouštěli do rychlých protiútoků. Pramenily z toho
                nebezpečné standardní situace a závary před naší brankou.
                Vyústěním byl vedoucí gól Táborska. Naštěstí jsme se poté
                dokázali zvednout, vrátit se do zápasu, dostat se k útočným
                akcím a vyrovnat díky penaltě, kterou proměnil Selnar,“ řekl k
                prvnímu poločasu Smetana.
              </p>
              <p>
                Jihlavský lodivod ve svém hodnocení pokračoval: „I vykročení do
                druhého poločasu jsme měli dobré. Jenže pak přišly zase minuty
                Táborska. Domácí nás dokázali dostat pod tlak, před naši branku
                posílali nepříjemné centry a my jsme měli problémy s jejich
                přenášením hry. Jsem rád, že nám jak v poločase, tak i v průběhu
                druhé půle pomohla střídání a postupné nasazení Peřiny, Vítka a
                Zoubeleho. Narušili jsme tím aktivitu domácích a dokázali jsme
                zase převzít herní iniciativu. Mrzí mne, že jsme nedokázali lépe
                vyřešit a dotáhnout některé nadějné rozběhlé akce.“
              </p>
              <h2>Podtitulek k tabulce</h2>
              <table>
                <thead>
                  <tr>
                    <th>Název sloupce v tabulce</th>
                    <th>Název sloupce v tabulce</th>
                    <th>Název sloupce v tabulce</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Obsah sloupce v řádku</td>
                    <td>Obsah sloupce v řádku</td>
                    <td>Obsah sloupce v řádku</td>
                  </tr>
                  <tr>
                    <td>Obsah sloupce v řádku</td>
                    <td>Obsah sloupce v řádku</td>
                    <td>Obsah sloupce v řádku</td>
                  </tr>
                  <tr>
                    <td>Obsah sloupce v řádku</td>
                    <td>Obsah sloupce v řádku</td>
                    <td>Obsah sloupce v řádku</td>
                  </tr>
                  <tr>
                    <td>Obsah sloupce v řádku</td>
                    <td>Obsah sloupce v řádku</td>
                    <td>Obsah sloupce v řádku</td>
                  </tr>
                </tbody>
              </table>
              <p>
                „Na druhou stranu musíme uznat, že soupeř měl řadu nebezpečných
                situací. Gól už nakonec nepadl a my tak z venkovního stadiónu
                odvážíme bod, který pro nás má hodnotu a my ho určitě bereme.
                Nepředvedli jsme ideální výkon, ale je na místě ocenit týmový
                výkon a snahu všech hráčů. Věřím, že jsme na cestě, abychom
                hráli lépe a takové zápasy zvládali do bodově příznivějšího
                konce. Rozhodně je před námi ještě hodně práce.“
              </p>
              <p>
                Je před vámi reprezentační pauza. Využijte ji ke kondičním
                tréninkům a ubarvení zranění a šrámů? „Ligovou přestávku chceme
                samozřejmě využít co nejlépe. Někdo bude dobíjet baterky a více
                odpočívat, někdo bude individuálně trénovat a dohánět tréninkové
                manko, někdo dostane prostor k doléčení. Věřím, že po pauze bude
                hráčský kádr v lepším stavu, než je nyní, a co nejlépe
                připravený na domácí zápas,“ doplnil Ondřej Smetana.
              </p>
              <h2>Fotogalerie</h2>
              {% include "@components/photogallery/photogallery.twig" %}
              <h2>Pokračovat na další článek:</h2>
            </div>
          </div>
          <div class="mt-6">
            {% include "@components/post/post-width.twig" %}
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <aside>
          <div class="mb-10">
            {% include "@components/count-down/count-down.twig" %}
          </div>
          <div class="aside-match">
            <div class="aside-match__logos">
              <div class="aside-match__logo">
                <img
                  src="images/content/sparta.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
              <div class="aside-match__logo">
                <img src="images/content/logo.png" loading="lazy" alt="logo" />
              </div>
            </div>
            <p class="aside-match__date">
              <span>17. kolo F:NL</span>
              sobota 25. března 2023, 18:00
            </p>
            <ul class="btns">
              <li>
                <a href="#" class="btn">Vstupenky</a>
              </li>
              <li>
                <a href="#" class="btn btn-transparent">On-line přenos</a>
              </li>
            </ul>
          </div>
          <a target="_blank" href="#" class="d-block w-100 mb-10">
            <img
              class="w-100"
              src="https://via.placeholder.com/440x148"
              loading="lazy"
              alt=""
            />
          </a>
          {% include "@components/post/post.twig" %} {% include
          "@components/post/post.twig" %}
          <div class="hp-dashboard__col">
            <div class="hp-dashboard__title">
              {% include "@images/aktuality.svg" %}
              <h3 class="h2">Aktuality</h3>
            </div>
            <div class="hp-dashboard__content">
              <div class="row mb-6">
                <div class="col-auto">
                  <div class="hp-dashboard__date">6. 2.</div>
                </div>
                <div class="col-9">
                  <h4 class="h3">Duel proti Slezský FC Opavamouci B zrušen</h4>
                </div>
                <div class="col-auto mt-2">
                  <p>
                    Plánovaný přípravný duel proti juniorce Slezský FC
                    Opavamouce byl zrušen. Důvodem je viróza v kabině Sigmy.
                  </p>
                </div>
              </div>
              <div class="row mb-6">
                <div class="col-auto">
                  <div class="hp-dashboard__date">26. 2.</div>
                </div>
                <div class="col-9">
                  <h4 class="h3">Juniorka vs. Svratka vs. Svratka sBrno 4:1</h4>
                </div>
                <div class="col-auto mt-2">
                  <p>
                    Juniorka sehrála druhý přípravný duel v mezidobí. Znovu
                    vstřelila 4 branky, když si poradila se Svratkou Brno 4:1
                    (1:1). Za naše mladíky skórovali Jiroušek, Savi a dvakrát
                    Záruba.
                  </p>
                </div>
              </div>
              <div class="row mb-6">
                <div class="col-auto">
                  <div class="hp-dashboard__date">26. 12.</div>
                </div>
                <div class="col-9">
                  <h4 class="h3">Juniorka porazila Duklu</h4>
                </div>
                <div class="col-auto mt-2">
                  <p>
                    V sobotním přípravném utkání juniorek porazil výběr FC
                    Vysočina mladíky Dukly Praha 4:2 (1:1), když naše branky
                    zaznamenali Tall, Lokvenc, Savi a jeden gól byl vlastní.
                  </p>
                </div>
              </div>
              <a href="#" class="btn m-auto mt-10 btn-transparent"
                >Další aktuality</a
              >
            </div>
          </div>
        </aside>
      </div>
    </div>

    <a target="_blank" href="#" class="d-block w-100 mb-10">
      <img
        class="w-100"
        src="https://via.placeholder.com/1400x135"
        loading="lazy"
        alt=""
      />
    </a>
  </div>
</section>
