<section class="hp-dashboard mb-10">
  <div class="row g-lg-10 g-5">
    <div class="col-xl-4">
      <div class="hp-dashboard__col">
        <div class="hp-dashboard__title">
          {% include "@images/aktuality.svg" %}
          <h3 class="h2">Aktuality</h3>
        </div>
        <div class="hp-dashboard__content">
          <div class="row mb-6">
            <div class="col-auto">
              <div class="hp-dashboard__date">6. 2.</div>
            </div>
            <div class="col-9">
              <h4 class="h3">Duel proti Slezský FC Opavamouci B zrušen</h4>
            </div>
            <div class="col-auto mt-2">
              <p>
                Plánovaný přípravný duel proti juniorce Slezský FC Opavamouce
                byl zrušen. Důvodem je viróza v kabině Sigmy.
              </p>
            </div>
          </div>
          <div class="row mb-6">
            <div class="col-auto">
              <div class="hp-dashboard__date">26. 2.</div>
            </div>
            <div class="col-9">
              <h4 class="h3">Juniorka vs. Svratka vs. Svratka sBrno 4:1</h4>
            </div>
            <div class="col-auto mt-2">
              <p>
                Juniorka sehrála druhý přípravný duel v mezidobí. Znovu
                vstřelila 4 branky, když si poradila se Svratkou Brno 4:1 (1:1).
                Za naše mladíky skórovali Jiroušek, Savi a dvakrát Záruba.
              </p>
            </div>
          </div>
          <div class="row mb-6">
            <div class="col-auto">
              <div class="hp-dashboard__date">26. 12.</div>
            </div>
            <div class="col-9">
              <h4 class="h3">Juniorka porazila Duklu</h4>
            </div>
            <div class="col-auto mt-2">
              <p>
                V sobotním přípravném utkání juniorek porazil výběr FC Vysočina
                mladíky Dukly Praha 4:2 (1:1), když naše branky zaznamenali
                Tall, Lokvenc, Savi a jeden gól byl vlastní.
              </p>
            </div>
          </div>
          <a href="#" class="btn m-auto mt-10 btn-primary">Další aktuality</a>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="hp-dashboard__col">
        <div class="hp-dashboard__title">
          {% include "@images/kalendar.svg" %}
          <h3 class="h2">Poslední zápasy</h3>
        </div>
        <div class="hp-dashboard__content">
          {% include "@components/match/match.twig" %} {% include
          "@components/match/match.twig" %} {% include
          "@components/match/match.twig" %}
          <a href="#" class="btn m-auto btn-primary">přehled zápasů</a>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="hp-dashboard__col">
        <div class="hp-dashboard__title">
          {% include "@images/tabulka.svg" %}
          <h3 class="h2">Tabulka F:NL</h3>
        </div>
        <div class="hp-dashboard__content">
          <div class="hp-dashboard__table">
            <table>
              <tbody>
                <tr>
                  <td>99.</td>
                  <td class="team">Slezský FC Opava Slezský FC Opava</td>
                  <td>12</td>
                  <td>32:18</td>
                  <td>29</td>
                </tr>
                <tr class="vysocina">
                  <td>1.</td>
                  <td class="team">
                    <a href="#"> FC Vysočina </a>
                  </td>
                  <td>8</td>
                  <td>32:18</td>
                  <td>29</td>
                </tr>

                <tr>
                  <td>1.</td>
                  <td class="team">
                    <a href="#"> Slezský FC Opava </a>
                  </td>
                  <td>2</td>
                  <td>32:18</td>
                  <td>29</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="team">
                    <a href="#"> Slezský FC Opava </a>
                  </td>
                  <td>12</td>
                  <td>32:18</td>
                  <td>29</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="team">
                    <a href="#"> Slezský FC Opava </a>
                  </td>
                  <td>12</td>
                  <td>32:18</td>
                  <td>29</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="team">
                    <a href="#"> Slezský FC Opava </a>
                  </td>
                  <td>8</td>
                  <td>32:18</td>
                  <td>29</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="team">
                    <a href="#"> Slezský FC Opava </a>
                  </td>
                  <td>1</td>
                  <td>32:18</td>
                  <td>29</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="team">
                    <a href="#"> Slezský FC Opava </a>
                  </td>
                  <td>1</td>
                  <td>32:18</td>
                  <td>29</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="team">
                    <a href="#"> Slezský FC Opava </a>
                  </td>
                  <td>8</td>
                  <td>32:18</td>
                  <td>29</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="team">
                    <a href="#"> Slezský FC Opava </a>
                  </td>
                  <td>2</td>
                  <td>32:18</td>
                  <td>29</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="team">
                    <a href="#"> Slezský FC Opava </a>
                  </td>
                  <td>1</td>
                  <td>32:18</td>
                  <td>29</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="team">
                    <a href="#"> Slezský FC Opava </a>
                  </td>
                  <td>2</td>
                  <td>32:18</td>
                  <td>29</td>
                </tr>
              </tbody>
            </table>
          </div>
          <a href="#" class="btn m-auto btn-primary">Kompletní tabulka</a>
        </div>
      </div>
    </div>
  </div>
</section>
