.hp-dashboard {
  &__col {
    background-color: var(--color-bg);
  }
  &__title {
    display: flex;
    align-items: center;
    svg {
      width: 56px;
      height: 56px;
      display: block;
    }
    .h2 {
      color: var(--color-yellow);
      padding-left: 24px;
    }
  }
  &__content {
    padding: 24px 40px 32px;
    @include media-breakpoint-down(lg) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__date {
    font-size: 20px;
    color: var(--color-yellow);
  }
  &__table {
    margin-bottom: 24px;
    td {
      line-height: 23px;
      padding-bottom: 4px;
      padding-top: 4px;
      text-transform: uppercase;
      font-weight: 400;
      padding-left: 14px;
      padding-right: 14px;
      @include media-breakpoint-down(sm) {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
    td {
    }
    .team {
      font-weight: 700;

      text-align: left;
      width: 100%;
      a {
        display: flex;
        align-items: center;
        text-decoration-color: transparent;
        width: max-content;
        &:hover {
          text-decoration-color: inherit;
        }
      }
      img {
        display: inline-block;
        width: 32px;
        height: 30px;
        object-fit: contain;
        padding-right: 8px;
      }
    }
  }
}
