.match-section {
  background-color: var(--color-bg);
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  &__list {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 0.0625rem solid rgba(255, 242, 0, 0.4);
    p {
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 0.0625rem solid rgba(255, 242, 0, 0.4);
      line-height: 150%;
      font-weight: 300;
    }
    li {
      margin-bottom: 4px;
      font-weight: 300;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      text-align: center;
    }
  }
  &__info {
    padding: 0 40px;
    @include media-breakpoint-down(md) {
      padding: 0;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 4px;
    }
  }
  &__logos {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    @include media-breakpoint-down(md) {
      order: 1;
      margin: 20px auto;
    }
    img {
      height: 50px;
      object-fit: contain;
    }
  }
  &__score {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 300;
    margin-top: auto;
    @include media-breakpoint-down(md) {
      order: 2;
      text-align: center;
      margin: 0 auto;
    }
    span {
      font-size: 32px;
      font-weight: 700;
    }
  }
}
.win span {
  color: #2db00f;
}
.lose span {
  color: #ed1d24;
}
