<div class="match-section">
  <div class="match-section__inner">
    <div class="match-section__logos">
        <img src="images/content/logo.png" loading="lazy" alt="logo" />
      <img src="images/content/sparta.png" loading="lazy" alt="logo" />
    </div>
    <div class="match-section__info">
      <p>18.kolo, neděle 12.3.2023, 14:30</p>
      <h2 class="h3">Fc vysočina - AC Sparta Praha</h2>
    </div>
    <div class="match-section__score win"><span>2:2 </span>(2:1)</div>
  </div>
  <div class="match-section__list">
    <p>
      <strong>FC Vysočina:</strong> Jágrik – T. Svoboda, Vedral, Gabriel, Peřina
      – Lacko (61. Shudeiwa), Tureček – Ogiomade, Selnar, Fila (85. Tall) –
      Araujo-Wilson (76. Zoubele). Náhradníci: Soukup – Záhradnik, Vítek,
      Křehlík.
    </p>
    <p>
      <strong>AS Sparta Praha:</strong> Heča – Vydra, Večerka (46. Kukučka),
      D.Horák – Hodouš (74. Váňa), Kaštánek, Okeke, Goljan (46. Lehocký) –
      Cissé, Pavelka (61. Jonáš) – Schánělec (61. O.Novotný). Náhradníci:
      Nalezinek – Ambler.
    </p>
    <ul>
      <li><strong> Góly:</strong> 19. Ogiomade, 53. Selnar – 85. Cissé</li>
      <li><strong>ŽK:</strong> 14. Vydra (SPB)</li>
      <li><strong>Rozhodčí: </strong> Krejsa – Dresler, Bureš</li>
      <li><strong>Diváci:</strong> 673</li>
    </ul>
  </div>
</div>
