.o-content {
  .ratio {
    margin: 32px auto;
  }
  ul {
    font-size: 18px;
    line-height: 23px;
    margin: 24px 0;
    > li {
      position: relative;
      padding-left: 24px;
      margin-bottom: 16px;
      &::before {
        content: "";
        background-color: var(--color-yellow);
        position: absolute;
        top: 6px;
        left: 0;
        width: 8px;
        border-radius: 50px;
        height: 8px;
      }
      > ul {
        margin: 16px 0 0;
        > li {
          &::before {
            border-radius: 50%;
          }
        }
      }
    }
  }
  ol {
    font-size: 18px;
    line-height: 23px;
    margin: 24px 0;
    counter-reset: item;

    > li {
      counter-increment: item;
      position: relative;
      padding-left: 32px;
      margin-bottom: 16px;
      &::before {
        content: counter(item) ")";
        color: var(--color-yellow);
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
      }
      > ol {
        margin: 16px 0 0;
        > li {
          &::before {
            content: counter(item) ".";
          }
        }
      }
    }
  }
  table {
    margin-bottom: 32px;
    @include media-breakpoint-down(sm) {
      width: max-content;
    }
  }
  thead {
    background-color: var(--color-yellow);
  }
  th {
    text-align: left;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
  }
  td {
    border-bottom: 1px solid var(--color-yellow);
  }
  th,
  td {
    padding-left: 24px;
    padding-right: 22px;
    font-size: 14px;
    line-height: normal;
  }
  th {
    padding-top: 11px;
    padding-bottom: 9px;
    font-weight: 600;
  }
  td {
    padding-top: 9px;
    padding-bottom: 10px;

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
  h1 {
    margin-bottom: 24px;
  }
  h2 {
    color: var(--color-yellow);
    margin-bottom: 16px;
    margin-top: 32px;
  }
  .perex,
  p {
    margin-bottom: 24px;
  }
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

.o-content h1,
.h1 {
  font-size: 40px;
  text-transform: uppercase;
  @include media-breakpoint-down(lg) {
    font-size: 30px;
    line-height: 125%;
  }
}
.o-content h2,
.h2 {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 130%;
  @include media-breakpoint-down(lg) {
    font-size: 20px;
  }
}
.o-content h3,
.h3 {
  font-size: 20px;
  text-transform: uppercase;
}
.p2 {
  font-size: 14px;
  line-height: 150%;
  font-weight: 300;
}

.perex {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}
.tabels-box {
  th,
  td {
    text-align: center;
  }
  th:first-child,
  td:first-child {
    text-align: left;
  }
}
