.partners-section {
  &__inner {
    a {
      display: block;
      padding: 2rem;
      background-color: var(--color-light);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      height: 100%;
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      img {
        object-fit: contain;
        vertical-align: middle;
        transition: all 0.3s;
        height: 180px;
        @include media-breakpoint-down(lg) {
          height: 140px;
        }
      }
    }
  }
}
