<section class="archive-section">
   <div class="container">
      <div class="row g-10 mb-10">
        <div class="col-xl-8">
         
        </div>
        <div class="col-xl-4">
          <aside>
            <div class="aside__menu">
              <h2 class="h2">HISTORIE</h2>
              <ul class="">
                <li>
                  <a href="#" class="active">ARCHIV ČLÁNKŮ</a>
                </li>
                <li>
                  <a href="#">fotogalerie</a>
                </li>
                <li>
                  <a href="#">Adam JÁGRIK</a>
                </li>
                <li>
                  <a href="#">Adam JÁGRIK</a>
                </li>
                <li>
                  <a href="#">Adam JÁGRIK</a>
                </li>
                <li>
                  <a href="#">Adam JÁGRIK</a>
                </li>
                
              </ul>
            </div>
            <div class="aside__menu mb-0">
              <h2 class="h2">A-tým</h2>
              <ul>
                <li>
                  <a href="#" class="active">SOUPISKA</a>
                </li>
                <li>
                  <a href="#">TRENÉŘI</a>
                </li>
                <li>
                  <a href="#">REALIZAČNÍ TÝM</a>
                </li>
                <li>
                  <a href="#">INDIVIDUÁLNÍ STATISTIKY</a>
                </li>
                <li>
                  <a href="#">PŘÍCHODY / ODCHODY</a>
                </li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
  
      <a target="_blank" href="#" class="d-block w-100 mb-10">
        <img
          class="w-100"
          src="https://via.placeholder.com/1400x135"
          loading="lazy"
          alt=""
        />
      </a>
    </div>
</section>