<div class="photogallery">
  <div class="row g-0">
    <div class="col-lg-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img src="images/content/1.jpeg" loading="lazy" alt="" />
      </a>
    </div>
    <div class="col-lg-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img src="images/content/2.jpeg" loading="lazy" alt="" />
      </a>
    </div>
    <div class="col-lg-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img src="images/content/3.jpeg" loading="lazy" alt="" />
      </a>
    </div>
    <div class="col-lg-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img src="images/content/4.jpeg" loading="lazy" alt="" />
        <span>+12</span>
      </a>
    </div>
  </div>
</div>
