<section class="matches-section">
  <div class="container">
    <div class="row g-10 mb-10">
      <div class="col-xl-8">
        <h1 class="h1 mb-10">FORTUNA:NÁRODNÍ LIGA</h1>
        <div class="header-section">
          <ul class="matches-section__filter">
            <li><a class="active" href="#">jen výsledky</a> |</li>
            <li><a href="#">statistiky</a> |</li>
            <li><a href="#">pouze doma</a> |</li>
            <li><a href="#">pouze venku</a> |</li>
            <li>
              <a href="#">vše</a>
            </li>
          </ul>
        </div>
        <div class="matches-section__row">
          <div class="match-section__inner">
            <div class="match-section__logos">
              <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              <img src="images/content/sparta.png" loading="lazy" alt="logo" />
            </div>
            <div class="match-section__info">
              <p>18.kolo, neděle 12.3.2023, 14:30</p>
              <h2 class="h3">Fc vysočina - AC Sparta Praha</h2>
            </div>
            <div class="match-section__score win"><a href="#">1:1P</a></div>
          </div>
          <div class="match-section__inner">
            <div class="match-section__logos">
              <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              <img src="images/content/sparta.png" loading="lazy" alt="logo" />
            </div>
            <div class="match-section__info">
              <p>18.kolo, neděle 12.3.2023, 14:30</p>
              <h2 class="h3">Fc vysočina - AC Sparta Praha</h2>
            </div>
            <div class="match-section__score win">
              <a href="#">3:3P</a>
            </div>
          </div>
          <div class="match-section__inner">
            <div class="match-section__logos">
              <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              <img src="images/content/sparta.png" loading="lazy" alt="logo" />
            </div>
            <div class="match-section__info">
              <p>18.kolo, neděle 12.3.2023, 14:30</p>
              <h2 class="h3">Fc vysočina - AC Sparta Praha</h2>
            </div>
            <div class="match-section__score win">
              <a href="#">3:1</a>
            </div>
          </div>
          <div class="match-section__inner">
            <div class="match-section__logos">
              <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              <img src="images/content/sparta.png" loading="lazy" alt="logo" />
            </div>
            <div class="match-section__info">
              <p>18.kolo, neděle 12.3.2023, 14:30</p>
              <h2 class="h3">Fc vysočina - AC Sparta Praha</h2>
            </div>
            <div class="match-section__score win"><a href="#">2:2P</a></div>
          </div>
          <div class="match-section__inner">
            <div class="match-section__logos">
              <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              <img src="images/content/sparta.png" loading="lazy" alt="logo" />
            </div>
            <div class="match-section__info">
              <p>18.kolo, neděle 12.3.2023, 14:30</p>
              <h2 class="h3">Fc vysočina - AC Sparta Praha</h2>
            </div>
            <div class="match-section__score lose"><a href="#">0:2</a></div>
          </div>
          <div class="match-section__inner">
            <div class="match-section__logos">
              <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              <img src="images/content/sparta.png" loading="lazy" alt="logo" />
            </div>
            <div class="match-section__info">
              <p>18.kolo, neděle 12.3.2023, 14:30</p>
              <h2 class="h3">Fc vysočina - AC Sparta Praha</h2>
            </div>
            <div class="match-section__score lose"><a href="#">2:2P</a></div>
          </div>
          <div class="match-section__inner">
            <div class="match-section__logos">
              <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              <img src="images/content/sparta.png" loading="lazy" alt="logo" />
            </div>
            <div class="match-section__info">
              <p>18.kolo, neděle 12.3.2023</p>
              <h2 class="h3">Fc vysočina - AC Sparta Praha</h2>
            </div>
            <div class="match-section__score"><a href="#">18:00</a></div>
          </div>
          <div class="match-section__inner">
            <div class="match-section__logos">
              <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              <img src="images/content/sparta.png" loading="lazy" alt="logo" />
            </div>
            <div class="match-section__info">
              <p>18.kolo, neděle 12.3.2023, 14:30</p>
              <h2 class="h3">Fc vysočina - AC Sparta Praha</h2>
            </div>
            <div class="match-section__score"><a href="#">2:2</a></div>
          </div>
        </div>
        <nav aria-label="Další stránky">
          <ul
            class="pagination d-flex flex-wrap pagination-flat pagination-success"
          >
            <li class="page-item active">
              <a class="page-link" href="#" data-abc="true">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true"> »</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-xl-4">
        <aside>
          <div class="aside__menu">
            <h2 class="h2">HISTORIE</h2>
            <ul class="">
              <li>
                <a href="#" class="active">FORTUNA:NÁRODNÍ LIGA</a>
              </li>
              <li>
                <a href="#">MOL CUP</a>
              </li>
              <li>
                <a href="#">Ligová tabulka</a>
              </li>
              <li>
                <a href="#"> „B“ Tým</a>
              </li>
              <li>
                <a href="#">MSL žen</a>
              </li>
            </ul>
          </div>
          <div class="aside__menu">
            <h2 class="h2">Sezóny A-tým</h2>
            <ul class="season-list">
              <li>
                <a href="#" class="active">SEZONA 2021/22</a>
              </li>
              <li>
                <a href="#">SEZONA 2020/21</a>
              </li>
              <li>
                <a href="#">SEZONA 2020/21</a>
              </li>
              <li>
                <a href="#">SEZONA 2020/21</a>
              </li>
              <li>
                <a href="#">SEZONA 2020/21</a>
              </li>
              <li>
                <a href="#">SEZONA 2020/21</a>
              </li>
              <li>
                <a href="#">SEZONA 2020/21</a>
              </li>
              <li>
                <a href="#">SEZONA 2020/21</a>
              </li>
              <li>
                <a href="#">SEZONA 2020/21</a>
              </li>
            </ul>
            <button id="loadMoreBtn" class="btn btn-transparent m-auto my-5">
              načíst další
            </button>
          </div>
          <div class="aside__menu">
            <h2 class="h2">Zápasy do kalendáře</h2>
            <div class="kalendar-box">
              <ul>
                <li>
                  <a href="#">
                    <img src="images/content/apple.png" alt="" />
                    Apple
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="images/content/outluk.png" alt="" />
                    Outlook
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="images/content/google-calendar.svg" alt="" />
                    Google
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>
    </div>

    <a target="_blank" href="#" class="d-block w-100 mb-10">
      <img
        class="w-100"
        src="https://via.placeholder.com/1400x135"
        loading="lazy"
        alt=""
      />
    </a>
  </div>
</section>
