<footer class="footer">
  <div class="container">
    <div class="row gy-10">
      <div class="col-xl-3 col-md-6">
        <div class="footer-col">
          <h6 class="h3">Klub</h6>
          <ul>
            <li>
              <a href="#">akcionáři</a>
            </li>
            <li>
              <a href="#">Vize</a>
            </li>
            <li>
              <a href="#">Podporovatelský program</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="footer-col">
          <h6 class="h3">Mládež</h6>
          <ul>
            <li>
              <a href="#">Týmy</a>
            </li>
            <li>
              <a href="#">Regionální akademie</a>
            </li>
            <li>
              <a href="#">Přijď mezi nás</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="footer-col">
          <h6 class="h3">Fanoušci</h6>
          <ul>
            <li>
              <a href="#">Aktuality</a>
            </li>
            <li>
              <a href="#">Fanshop</a>
            </li>
            <li>
              <a href="#">Napište nám</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="footer-col">
          <h6 class="h3">Kontakty</h6>
          <ul>
            <li>
              <a href="#">Podmínky užití webu</a>
            </li>
            <li>
              <a href="#">Ochrana soukromí</a>
            </li>
            <li>
              <a href="#">Použití cookies</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="copyright">
        Všechna práva vyhrazena © 2023 FC Vysočina Jihlava &
        <a href="https://esportsmedia.cz/">eSports.cz, s.r.o.</a>
      </div>
      <a class="cookies" href="#">Nastavení cookies</a>
    </div>
  </div>
</footer>
