<article class="post-width">
  <div class="row g-lg-10 g-0">
    <div class="col-lg-6">
      <a href="#" class="post__img">
        <img src="images/content/3.jpeg" alt="" />
      </a>
    </div>
    <div class="col-lg-6">
      <div class="post-width__info">
        <div class="post__date">24. 3. 2023</div>
        <h2 class="h2">
          <a href="#">
            Vysočina se v dramatické bitvě musela spokojit s bodem
          </a>
        </h2>
        <p class="p2">
          Vysočina nadále drží svoji jarní neporazitelnost, ovšem stále čeká na
          první vítězství. Ano, i její třetí jarní představení skončilo remízou.
          Na půdě FC SILON Táborsko však lze hovořit o plusovém bodu, neboť
          domácí šli do vedení a byli v utkání aktivnějším celkem. Jihlavské
          vyrovnání zařídil bezpečně proměněnou penaltou Jakub Selnar.
        </p>
      </div>
    </div>
  </div>
</article>
