<article class="post">
  <a data-gallery="1" data-gallery-id="1" href="#" class="post__img">
    <img src="images/content/2.jpeg" alt="" />
    <div class="post__info">
      <div class="post__date">24. 3. 2023</div>
      <h2 class="h2">Vysočina se v dramatické bitvě musela spokojit s bodem</h2>
    </div>
  </a>
</article>
