{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %}

<div class="container">
  <div class="row g-10 mb-10">
    <div class="col-xl-8">
      {% include "@components/topstory-section/topstory-section.twig" %}
    </div>
    <div class="col-xl-4">
      <aside>
        <div class="mb-10">
          {% include "@components/count-down/count-down.twig" %}
        </div>
        <div class="aside-match">
          <div class="aside-match__logos">
            <div class="aside-match__logo">
              <img src="images/content/sparta.png" loading="lazy" alt="logo" />
            </div>
            <div class="aside-match__logo">
              <img src="images/content/logo.png" loading="lazy" alt="logo" />
            </div>
          </div>
          <p class="aside-match__date">
            <span>17. kolo F:NL</span>
            sobota 25. března 2023, 18:00
          </p>
          <ul class="btns">
            <li>
              <a href="#" class="btn">Vstupenky</a>
            </li>
            <li>
              <a href="#" class="btn btn-transparent">On-line přenos</a>
            </li>
          </ul>
        </div>
        <a target="_blank" href="#" class="d-block w-100">
          <img
            class="w-100"
            src="https://via.placeholder.com/440x148"
            loading="lazy"
            alt=""
          />
        </a>
      </aside>
    </div>
  </div>
  <a target="_blank" href="#" class="d-block w-100 mb-10">
    <img
      class="w-100"
      src="https://via.placeholder.com/1400x135"
      loading="lazy"
      alt=""
    />
  </a>
  <div class="row g-lg-10 g-5 mb-6">
    <div class="col-lg-4">{% include "@components/post/post.twig" %}</div>
    <div class="col-lg-8">{% include "@components/post/post-width.twig" %}</div>
  </div>
  <a href="#" class="ml-auto mb-10 btn btn-transparent">Další články</a>
  {% include "@components/partnersSlider/partnersSlider.twig" %} {% include
  "@components/hp-dashboard/hp-dashboard.twig" %}
</div>
{% endblock %}
<div class="table-responsive"></div>
