{% extends "@components/base/base.twig" %} {% set title = "08.0_match" %} {%
block main %}
<div class="base">
  <div class="base-content">
    {% include "@components/header/header.twig" %}
    <main class="main" aria-label="Hlavní obsah">
      <section class="article-section">
        <div class="container">
          <div class="row g-10 mb-10">
            <div class="col-xl-8">
              <div class="topstory-article position-relative">
                <div class="topstory-article-image">
                  <img src="images/content/1.jpeg" alt="" />
                </div>
                <div class="topstory-article-info p-40">
                  <div class="row g-4">
                    <div class="col-auto">
                      <span class="date-primary text-white">
                        24. 12. 2021
                      </span>
                    </div>
                    <div class="col-auto">
                      <span>Miroslav Fuks</span>
                    </div>
                  </div>
                  <h2
                    class="text-white overflow-ellipsis overflow-hidden"
                    style="--text-lines: 3"
                  >
                    Vítězný vstup do nové sezóny se zrodil v 5. minutě
                    nastavení!
                  </h2>
                </div>
              </div>
              <div class="row mt-10">
                <div class="col-11 m-auto">
                  <div class="perex">
                    Fotbalisté FC Vysočina na startu sezóny vybojovali cenné
                    vítězství nad Opavou 2:1 (0:0). Ještě v 82. minutě
                    prohrávali, ale poté předvedli skvělý obrat. Nejprve z
                    penalty vyrovnal Jakub Selnar a o třech bodech pro domácí
                    rozhodl v 5. minutě nastaveného času střídající Tomáš
                    Franěk. Drama úvodního duelu podtrhla 86. minuta, kdy
                    hostující Hýbl neproměnil penaltu.
                  </div>
                  {% include "@components/match-section/match-section.twig" %}
                  <div class="o-content">
                    <h2>Komentář</h2>
                    <p>
                      Kouč David Oulehla do ostrého startu českých
                      profesionálních soutěží nasadil na vlas stejnou sestavu,
                      jaká nastoupila do nevydařené generálky na Bohemians.
                      Premiéru v základní sestavě si tedy na levém beku odbyl
                      devatenáctiletý odchovanec Farka a příležitost dostali obě
                      nové posily - Tombul a Pešek.
                    </p>
                    <p>
                      Po opatrném úvodu, během kterého si ani jeden z týmů
                      nedokázal vypracovat delší tlak, se ve 12. minutě rozhodl
                      prolomit střelecké prázdno Fila. Jeho dalekonosná rána
                      však cíl minula o několik metrů. Po půlhodině hry se po
                      rychlém protiútoku odhodlal ke střele Selnar, jenže ani
                      jeho pokus nevyvedl brankáře Adama Richtera z míry.
                      Největší šanci prvního poločasu si pak po rohovém kopu ve
                      37. minutě vytvořila Vysočina, obětavá obrana Opavy ale
                      balon v cestě do sítě zastavila.
                    </p>
                    <iframe
                      width="560"
                      height="315"
                      src="https://www.youtube.com/embed/MzbSrfMn2ow"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen
                    ></iframe>
                    <p>
                      Po změně stran zahrozili jako první domácí. V 50. minutě
                      vypálil pohotově z otočky po závaru ve vápně kapitán
                      Jihlavy Vedral, ale ani tato střela se mezi tři tyče
                      nevešla. O chvíli později vyrazil brankář Richter pokus
                      Fily a následná dorážka orazítkovala horní tyč. Slezanům
                      stačila na vstřelení gólu první větší příležitost. V 69.
                      minutě rozveselil hrstku opavských příznivců přesnou ranou
                      na zadní tyč Blecha, který se trefil po přihrávce Šiguta
                      hned ve svém prvním zápase v novém působišti. O 11 minut
                      později si však po závaru před brankou vybojovali domácí
                      pokutový kop po faulu na Talla. K němu se postavil Selnar
                      a tvrdou ranou do pravého dolního rohu nedal prudkou ránou
                      Richterovi šanci. V 86. se kopala penalta i na druhé
                      straně po faulu na Vedrala na Šiguta. Hýbl však nasměroval
                      míč jen do levé tyče brány Soukupa. V nastaveném čase
                      nakonec rozhodl o výhře domácích prudkou střelou z malého
                      vápna do pravého horního rohu střídající Franěk.
                    </p>
                    <h2>Fotogalerie</h2>
                    {% include "@components/photogallery/photogallery.twig" %}
                    <h2>Pokračovat na další článek:</h2>
                  </div>
                </div>
                <div class="mt-6">
                  {% include "@components/post/post-width.twig" %}
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <aside>
                <div class="mb-10">
                  {% include "@components/count-down/count-down.twig" %}
                </div>
                <div class="aside-match">
                  <div class="aside-match__logos">
                    <div class="aside-match__logo">
                      <img
                        src="images/content/sparta.png"
                        loading="lazy"
                        alt="logo"
                      />
                    </div>
                    <div class="aside-match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt="logo"
                      />
                    </div>
                  </div>
                  <p class="aside-match__date">
                    <span>17. kolo F:NL</span>
                    sobota 25. března 2023, 18:00
                  </p>
                  <ul class="btns">
                    <li>
                      <a href="#" class="btn">Vstupenky</a>
                    </li>
                    <li>
                      <a href="#" class="btn btn-transparent">On-line přenos</a>
                    </li>
                  </ul>
                </div>
                <a target="_blank" href="#" class="d-block w-100 mb-10">
                  <img
                    class="w-100"
                    src="https://via.placeholder.com/440x148"
                    loading="lazy"
                    alt=""
                  />
                </a>
                <div class="hp-dashboard__col mb-10">
                  <div class="hp-dashboard__title">
                    {% include "@images/tabulka.svg" %}
                    <h3 class="h2">Tabulka F:NL</h3>
                  </div>
                  <div class="hp-dashboard__content">
                    <div class="hp-dashboard__table">
                      <table>
                        <tbody>
                          <tr>
                            <td>99.</td>
                            <td class="team">
                              <a href="#"> Slezský FC Opava </a>
                            </td>
                            <td>12</td>
                            <td>32:18</td>
                            <td>29</td>
                          </tr>
                          <tr class="vysocina">
                            <td>1.</td>
                            <td class="team">
                              <a href="#"> FC Vysočina </a>
                            </td>
                            <td>8</td>
                            <td>32:18</td>
                            <td>29</td>
                          </tr>

                          <tr>
                            <td>1.</td>
                            <td class="team">
                              <a href="#"> Slezský FC Opava </a>
                            </td>
                            <td>2</td>
                            <td>32:18</td>
                            <td>29</td>
                          </tr>
                          <tr>
                            <td>1.</td>
                            <td class="team">
                              <a href="#"> Slezský FC Opava </a>
                            </td>
                            <td>12</td>
                            <td>32:18</td>
                            <td>29</td>
                          </tr>
                          <tr>
                            <td>1.</td>
                            <td class="team">
                              <a href="#"> Slezský FC Opava </a>
                            </td>
                            <td>12</td>
                            <td>32:18</td>
                            <td>29</td>
                          </tr>
                          <tr>
                            <td>1.</td>
                            <td class="team">
                              <a href="#"> Slezský FC Opava </a>
                            </td>
                            <td>8</td>
                            <td>32:18</td>
                            <td>29</td>
                          </tr>
                          <tr>
                            <td>1.</td>
                            <td class="team">
                              <a href="#"> Slezský FC Opava </a>
                            </td>
                            <td>1</td>
                            <td>32:18</td>
                            <td>29</td>
                          </tr>
                          <tr>
                            <td>1.</td>
                            <td class="team">
                              <a href="#"> Slezský FC Opava </a>
                            </td>
                            <td>1</td>
                            <td>32:18</td>
                            <td>29</td>
                          </tr>
                          <tr>
                            <td>1.</td>
                            <td class="team">
                              <a href="#"> Slezský FC Opava </a>
                            </td>
                            <td>8</td>
                            <td>32:18</td>
                            <td>29</td>
                          </tr>
                          <tr>
                            <td>1.</td>
                            <td class="team">
                              <a href="#"> Slezský FC Opava </a>
                            </td>
                            <td>2</td>
                            <td>32:18</td>
                            <td>29</td>
                          </tr>
                          <tr>
                            <td>1.</td>
                            <td class="team">
                              <a href="#"> Slezský FC Opava </a>
                            </td>
                            <td>1</td>
                            <td>32:18</td>
                            <td>29</td>
                          </tr>
                          <tr>
                            <td>1.</td>
                            <td class="team">
                              <a href="#"> Slezský FC Opava </a>
                            </td>
                            <td>2</td>
                            <td>32:18</td>
                            <td>29</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <a href="#" class="btn m-auto btn-transparent"
                      >Kompletní tabulka</a
                    >
                  </div>
                </div>
                <div class="hp-dashboard__col">
                  <div class="hp-dashboard__title">
                    {% include "@images/aktuality.svg" %}
                    <h3 class="h2">Aktuality</h3>
                  </div>
                  <div class="hp-dashboard__content">
                    <div class="row mb-6">
                      <div class="col-auto">
                        <div class="hp-dashboard__date">6. 2.</div>
                      </div>
                      <div class="col-9">
                        <h4 class="h3">
                          Duel proti Slezský FC Opavamouci B zrušen
                        </h4>
                      </div>
                      <div class="col-auto mt-2">
                        <p>
                          Plánovaný přípravný duel proti juniorce Slezský FC
                          Opavamouce byl zrušen. Důvodem je viróza v kabině
                          Sigmy.
                        </p>
                      </div>
                    </div>
                    <div class="row mb-6">
                      <div class="col-auto">
                        <div class="hp-dashboard__date">26. 2.</div>
                      </div>
                      <div class="col-9">
                        <h4 class="h3">
                          Juniorka vs. Svratka vs. Svratka sBrno 4:1
                        </h4>
                      </div>
                      <div class="col-auto mt-2">
                        <p>
                          Juniorka sehrála druhý přípravný duel v mezidobí.
                          Znovu vstřelila 4 branky, když si poradila se Svratkou
                          Brno 4:1 (1:1). Za naše mladíky skórovali Jiroušek,
                          Savi a dvakrát Záruba.
                        </p>
                      </div>
                    </div>
                    <div class="row mb-6">
                      <div class="col-auto">
                        <div class="hp-dashboard__date">26. 12.</div>
                      </div>
                      <div class="col-9">
                        <h4 class="h3">Juniorka porazila Duklu</h4>
                      </div>
                      <div class="col-auto mt-2">
                        <p>
                          V sobotním přípravném utkání juniorek porazil výběr FC
                          Vysočina mladíky Dukly Praha 4:2 (1:1), když naše
                          branky zaznamenali Tall, Lokvenc, Savi a jeden gól byl
                          vlastní.
                        </p>
                      </div>
                    </div>
                    <a href="#" class="btn m-auto mt-10 btn-transparent"
                      >Další aktuality</a
                    >
                  </div>
                </div>
              </aside>
            </div>
          </div>

          <a target="_blank" href="#" class="d-block w-100 mb-10">
            <img
              class="w-100"
              src="https://via.placeholder.com/1400x135"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </section>
    </main>
  </div>
  {% include "@components/footer/footer.twig" %}
</div>

{% endblock %}
