{% extends "@components/base/base.twig" %} {% set title = "11.0_juniors" %} {%
block main %}

<div class="base">
  <div class="base-content">
    {% include "@components/header/header.twig" %}
    <main class="main" aria-label="Hlavní obsah">
      {% include "@components/juniors-section/juniors-section.twig" %}
    </main>
  </div>
  {% include "@components/footer/footer.twig" %}
</div>

{% endblock %}
