{% extends "@components/base/base.twig" %} {% set title = "13.0_statistics" %}
{% block main %}
<div class="base">
  <div class="base-content">
    {% include "@components/header/header.twig" %}
    <main class="main" aria-label="Hlavní obsah">
      <section class="static-section">
        <div class="container">
          <div class="row g-10 mb-10">
            <div class="col-xl-8">
              <h1 class="h1 mb-10">Statistiky   </h1>
              <div class="o-content">
                <table>
                   <tr>
                     <thead>
                       <tr>
                         <th><a href="#">#</a></th>
                         <th><a href="#">BRANKÁŘ</a></th>
                         <th><a href="#">Z</a></th>
                         <th><a href="#">Min</a></th>
                         <th><a href="#">Ink</a></th>
                         <th><a href="#">Nul</a></th>
                         <th><a href="#">VG</a></th>
                         <th><a href="#">ŽK</a></th>
                         <th><a href="#">ČK</a></th>
                         <th><a href="#">HZ</a></th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td>5</td>
                         <td>Jan Štovíček</td>
                         <td>24</td>
                         <td>13</td>
                         <td>77</td>
                         <td>6</td>
                         <td>1</td>
                         <td>34:19</td>
                         <td>99</td>
                         <td>88</td>
                       </tr>
                       <tr>
                         <td>5</td>
                         <td>Jan Štovíček</td>
                         <td>24</td>
                         <td>13</td>
                         <td>77</td>
                         <td>6</td>
                         <td>1</td>
                         <td>34:19</td>
                         <td>99</td>
                         <td>88</td>
                       </tr>
                       <tr>
                         <td>5</td>
                         <td>Jan Štovíček</td>
                         <td>24</td>
                         <td>13</td>
                         <td>77</td>
                         <td>6</td>
                         <td>1</td>
                         <td>34:19</td>
                         <td>99</td>
                         <td>88</td>
                       </tr>
                     </tbody>
                   </tr>
                 </table>
                 <table>
                  <tr>
                    <thead>
                      <tr>
                        <th><a href="#">#</a></th>
                        <th><a href="#">HRÁČI V POLI</a></th>
                        <th><a href="#">POST</a></th>
                        <th><a href="#">Z</a></th>
                        <th><a href="#">Min</a></th>
                        <th><a href="#">G</a></th>
                        <th><a href="#">ŽK</a></th>
                        <th><a href="#">ČK</a></th>
                        <th><a href="#">HZ</a></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <tr>
                           <td>5</td>
                           <td>Jan Štovíček</td>
                           <td>24</td>
                           <td>13</td>
                           <td>77</td>
                           <td>6</td>
                           <td>1</td>
                           <td>34:19</td>
                         
                           <td>88</td>
                         </tr>
                         <tr>
                           <td>5</td>
                           <td>Jan Štovíček</td>
                           <td>24</td>
                           <td>13</td>
                           <td>77</td>
                           <td>6</td>
                           <td>1</td>
                           <td>34:19</td>
                           <td>88</td>
                         </tr>
                         <tr>
                           <td>5</td>
                           <td>Jan Štovíček</td>
                           <td>24</td>
                           <td>13</td>
                           <td>77</td>
                           <td>6</td>
                           <td>1</td>
                           <td>34:19</td>
                           <td>88</td>
                         </tr>
                         <tr>
                           <td>5</td>
                           <td>Jan Štovíček</td>
                           <td>24</td>
                           <td>13</td>
                           <td>77</td>
                           <td>6</td>
                           <td>1</td>
                           <td>34:19</td>
                           <td>88</td>
                         </tr>
                         <tr>
                           <td>5</td>
                           <td>Jan Štovíček</td>
                           <td>24</td>
                           <td>13</td>
                           <td>77</td>
                           <td>6</td>
                           <td>1</td>
                           <td>34:19</td>
                           <td>88</td>
                         </tr>
                         <tr>
                           <td>5</td>
                           <td>Jan Štovíček</td>
                           <td>24</td>
                           <td>13</td>
                           <td>77</td>
                           <td>6</td>
                           <td>1</td>
                           <td>34:19</td>
                           <td>88</td>
                         </tr>
         
                        <td>5</td>
                        <td>Jan Štovíček</td>
                        <td>24</td>
                        <td>13</td>
                        <td>77</td>
                        <td>6</td>
                        <td>1</td>
                        <td>34:19</td>
                        <td>88</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Jan Štovíček</td>
                        <td>24</td>
                        <td>13</td>
                        <td>77</td>
                        <td>6</td>
                        <td>1</td>
                        <td>34:19</td>
                        <td>88</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Jan Štovíček</td>
                        <td>24</td>
                        <td>13</td>
                        <td>77</td>
                        <td>6</td>
                        <td>1</td>
                        <td>34:19</td>
                        <td>88</td>
                      </tr>
                    </tbody>
                  </tr>
                </table>
             </div>
            </div>
            <div class="col-xl-4">
              <aside>
                <div class="aside__menu">
                  <h2 class="h2">klub</h2>
                  <ul>
                    <li>
                      <a href="#">Základní informace</a>
                    </li>
                    <li>
                      <a href="#">Vedení klubu</a>
                    </li>
                    <li>
                      <a href="#" class="active">Hodnoty a principy</a>
                    </li>
                    <li>
                      <a href="#">Sportovní koncepce</a>
                    </li>
                    <li>
                      <a href="#">Nabídka partnerství</a>
                    </li>
                  </ul>
                </div>

                {% include "@components/post/post.twig" %} {% include
                "@components/post/post.twig" %}
              </aside>
            </div>
          </div>

          <a target="_blank" href="#" class="d-block w-100 mb-10">
            <img
              class="w-100"
              src="https://via.placeholder.com/1400x135"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </section>
    </main>
  </div>
  {% include "@components/footer/footer.twig" %}
</div>

{% endblock %}
