<section class="topstory position-relative">
  <div
    id="topstory-slider-control"
    class="position-absolute d-flex align-items-center justify-content-center text-white font-secondary text-center"
  >
    <a
      href="#"
      class="slick-arrow slick-prev d-flex align-items-center justify-content-center transition"
      data-method="slickPrev"
    >
      <img src="images/ico/slider-left.svg" alt="left" />
    </a>
    <div id="topstory-slider-paginator"><span>1 </span> / 4</div>
    <a
      href="#"
      class="slick-arrow slick-next d-flex align-items-center justify-content-center transition"
      data-method="slickNext"
    >
      <img src="images/ico/slider-right.svg" alt="left" />
    </a>
  </div>

  <div class="topstory-slider">
    <div class="topstory-article position-relative">
      <div class="topstory-article-image">
        <img src="images/content/1.jpeg" alt="" />
      </div>
      <div class="topstory-article-info p-40">
        <span class="date-primary text-white"> 24. 12. 2021 </span>
        <h2
          class="text-white overflow-ellipsis overflow-hidden"
          style="--text-lines: 3"
        >
          Ondřej Smetana: Bod z Táborska pro nás má hodnotu
        </h2>
      </div>
      <a href="clanek.html" class="link-stretched outline-none"></a>
    </div>
    <div class="topstory-article position-relative">
      <div class="topstory-article-image">
        <img src="images/content/2.jpeg" alt="" />
      </div>
      <div class="topstory-article-info p-40">
        <span class="date-primary text-white"> 24. 12. 2021 </span>
        <h2
          class="text-white overflow-ellipsis overflow-hidden"
          style="--text-lines: 3"
        >
          Česká reprezentace oznámila nominaci na UEFA EURO 2020 Česká
          reprezentace oznámila nominaci na UEFA EURO 2020
        </h2>
      </div>
      <a href="clanek.html" class="link-stretched outline-none"></a>
    </div>
    <div class="topstory-article position-relative">
      <div class="topstory-article-image">
        <img src="images/content/3.jpeg" alt="" />
      </div>
      <div class="topstory-article-info p-40">
        <span class="date-primary text-white"> 24. 12. 2021 </span>
        <h2
          class="text-white overflow-ellipsis overflow-hidden"
          style="--text-lines: 3"
        >
          Česká reprezentace oznámila nominaci na UEFA EURO 2020
        </h2>
      </div>
      <a href="clanek.html" class="link-stretched outline-none"></a>
    </div>
    <div class="topstory-article position-relative">
      <div class="topstory-article-image">
        <img src="images/content/4.jpeg" alt="" />
      </div>
      <div class="topstory-article-info p-40">
        <span class="date-primary text-white"> 24. 12. 2021 </span>
        <h2
          class="text-white overflow-ellipsis overflow-hidden"
          style="--text-lines: 3"
        >
          Česká reprezentace oznámila nominaci na UEFA EURO 2020
        </h2>
      </div>
      <a href="clanek.html" class="link-stretched outline-none"></a>
    </div>
  </div>
</section>
